.git
.run
.idea
.ipynb_checkpoints
# -------------------------------------------------------------------------------------------------------------------- #
_.py
wandb
__pycache__
# -------------------------------------------------------------------------------------------------------------------- #
*.jpg
*.png
*.pt
*.onnx
*.trt
# -------------------------------------------------------------------------------------------------------------------- #