*
# -------------------------------------------------------------------------------------------------------------------- #
!*/
!*.py
!*.yaml
!README.md
!.gitignore
# -------------------------------------------------------------------------------------------------------------------- #
_.py
.idea
# -------------------------------------------------------------------------------------------------------------------- #
!dataset/ETTh1.csv
!dataset/ETTh2.csv
!dataset/ETTm1.csv
!dataset/ETTm2.csv
!dataset/sin_cos.csv