.*
_.*
wandb
__pycache__
!.gitignore
# -------------------------------------------------------------------------------------------------------------------- #
*.log
*.jpg
*.png
*.txt
*.csv
*.xml
*.xlsx
*.json
*.html
*.pt
*.pth
*.bin
*.trt
*.onnx
# -------------------------------------------------------------------------------------------------------------------- #
dataset/industry_choice.yaml
dataset/data_screen.yaml
dataset/simulate.yaml
dataset/predict.yaml
# -------------------------------------------------------------------------------------------------------------------- #
!ocr/ocr_model/**
!dataset/industry/**
!auto_gui/match_image/**
!ocr/image/demo.png
!predict/input_column.txt
!predict/output_column.txt